<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="../css/theme.css" type="text/css">
</head>

<body>
<nav class="navbar navbar-expand-md bg-secondary navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="#">BestTour</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="py-5 text-center" style="background-image: url(&quot;../img/slide-image-3.jpg&quot;);">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-3 mb-4 text-dark" contenteditable="true">Лучшие туры для путешествий!</h1>
                <p class="lead mb-5 bg-primary">
                    <br>Компания BestTour порадует Вас своими предложениями, которые являются наиболее приемлемыми на
                    рынке туристических услуг. Мы работаем с лучшими туроператорами и обеспечиваем лучшее обслуживание
                    клиентов!
                    <br>
                    <br>
                </p>
                <a href="#" class="btn btn-lg btn-primary mx-1">Посмотреть перечень туров!</a>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-7">
                <h2 class="text-primary">Исторические достопримечательности!</h2>
                <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                    est laborum.</p>
            </div>
            <div class="col-md-5 align-self-center">
                <img class="img-fluid d-block w-100 img-thumbnail" src="../img/колизе1.jpg"></div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <img class="img-fluid d-block mb-4 w-100 img-thumbnail" src="../img/church.png"></div>
            <div class="col-md-7">
                <h2 class="text-primary pt-3">Византийская архитектура</h2>
                <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                    est laborum.</p>
            </div>
        </div>
    </div>
</div>
<div class="py-5 text-white bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="lead">Компания BestTour - Ваш лучший помощник при выборе места для отдыха!</p>
            </div>
        </div>
    </div>
</div>


</body>

</html>